@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

img {
border: 10px;
border-radius: 20px;
border-color: black;
width: 200px;}