

body{
    margin-left: 250px;
    font-size: 20px  
}

h1{
    font-size: 36px;
}

li{
    margin-bottom: 10px;
}

.inleiding{
    width: 30%;
}

.body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0 auto;
}

*{
    font-family: 'Roboto', sans-serif;      
}

.tip{ 
    background-color: #def6ed ;
    border-radius: 4px;
    padding: 25px;
}